* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.centerbox {
  padding: 50px;
}

.form {
  min-height: 300px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
}
.heading {
  text-align: center;
  margin-bottom: 10px;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff;
}
input {
  border: none;
  outline: none;
  width: 100%;
}

.bi bi-lock-fill {
  float: right;
}

.loginbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to top, #03b6a7 50%, #68686863 80%) no-repeat;
  border-radius: 15px;
  padding: 0%;
}
.btn.btn-success {
  margin-top: 20px;
  border-radius: 15px;
  width: 60%;
}
@media (max-width: 360px) {
  body {
    height: 100%;
  }
}
a[target="_blank"] {
  position: relative;
  transition: all 0.1s ease-in-out;
}
.forgot a {
  float: right;
  text-decoration: none;
}
