.card {
    width: 20vw;
}

.user-box {
    display: flex;
    flex-direction: column;
  }

#eye {
    align-self: center;
    margin-top: 5px;
  }

.label {
    text-align: center;
  }

#login {
    font-size: 40px;
}

.bt {
  text-align: center;
  margin-top: 30px;
}

body {
  background: linear-gradient(to top, #03b6a7 50%, #68686863 90%) no-repeat;
}

@media (max-width: 360px) {
  body {
    height: 100%;
  }
}

