.Quotes{
    margin: 20px 20px;
    border-collapse: separate;  
    border-spacing: 0 15px;  
 
   
}
 .Quote-box{
    border: 1px black solid;
    border-radius:  1rem;
    color: black;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: #EBC7E8;
}

.Subox {
    display: flex;
    flex-direction: row;
    color:black;
    border-radius: 1rem; 
    font-size: small;
    font-style: italic;
    background-color: #BFACE0;
    align-content: center;
    justify-content: center;
    

    height: 30px;
    

}

.likes{
    background-color: white;
    flex: 0.018;
    color:black;
    border-radius: 1rem;
    float: right;
    font-size: small;
    align-self: center;
    border: 2px solid red;
    margin-top: 16px;
    margin-right: 1px;
    text-align: center;
    padding: 3px 
}
.Author-name{
    
    flex: 1;
    float: left;
    position:relative;
    align-self: center;
    padding-top: 10px;
    
}