  .Dia-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Dia-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 500px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border-radius: 30px;
    background-color: white;
    margin-top: 150px;
  }
  
  img {
    width: 18vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
  }

  #bt1 {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-color: #121212;
    margin-left: 190px;
  }
  