* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    margin-top: 10%;
  }

  .container {
    margin: 50px auto;
  }

  .input-field {
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
  }
  .row1
  {
    margin-top:2%;
  }

  body {
    height: 100vh;
    background: linear-gradient(to top, #03b6a7 50%, #68686863 90%) no-repeat;
  }

  @media (max-width: 360px) {
    body {
      height: 100%;
    }
}
