#eye {
    margin-left: -25px;
    margin-bottom: 5px;
  }

#pass {
    display: flex;
    flex-direction: row;
}

label {
    font-weight: 500;
}

img {
    justify-content: center;
    width: 18vw;
}